<header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t }}">
    <nav class="navbar-dark bg-dark {{ menu_display }}">
      <a class="navbar-brand" href="#">{{ logo }}</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#cavalla_navbar" aria-controls="cavalla_navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="navbar-collapse collapse" id="cavalla_navbar">
        {{ page.primary_menu }}
      </div>
    </nav>
  </header>